body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$minColWidth: 20rem;
$gridGap: 2rem;

.App {;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));

  .Card {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($minColWidth, 1fr));

    height: 250px;
    width: auto;
    overflow: hidden;

    .CardText {
      background-color: rgba(255, 255, 255, 0.78);
      color: black;
      border-bottom-right-radius: 20px;
      padding: 5px 15px 5px 15px;
      position: absolute;
      z-index: 1;
    }

    .CardImage {
      height: 250px;
      width: auto;
      filter: grayscale(80%);
      -webkit-filter: grayscale(80%);
      transition: all 500ms ease;
    }

    .CardImage:hover {
      cursor: pointer;
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
    }
  }
}

